* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  width: 90%;
}

.right,
.left {
  padding: 2%;
}

.left img {
  height: 12vh;
}

.right {
  display: flex;
  align-items: center;
  width: 55%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  font-size: 30px;
  font-weight: 100;
}

.no_link {
  pointer-events: none;
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: none;
  color: black;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.map {
  padding: 3% 0 3% 0;
}

.location_info {
  font-size: 28px;
  font-weight: 100;
  line-height: 6vh;
}

/* Intital Modal */
#intitalModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  border: 1px solid gainsboro;
  border-radius: 36px;
  width: 550px;
  height: 300px;
  font-size: 24px;
  box-shadow: 10px 10px gainsboro;
  background-color: white;
}

#intital div {
  padding: 0.5% 0 0.5% 0;
  text-align: center;
}

#intital img {
  width: 300px;
  height: 100px;
}

#intital input,
#intital select {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 20px;
}

#intital input {
  width: 50%;
  padding: 1% 0 1% 2%;
}

#intital p {
  font-size: 16px;
  color: red;
  padding: 0.5%;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 100px;
}

#login button {
  padding: 1.5%;
  font-size: 20px;
  border-radius: 10px;
  background-color: #492401;
  color: #FFFFFF;
}

/* Home Page */
#homebg aside {
  height: 1000px;
  background-image: url("../img/backgroundPic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#homeMain {
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}

#slogan {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#slogan p {
  font-size: 36px;
}

#slogan h2 {
  font-size: 50px;
  color: #492401;
}

#intro {
  display: flex;
  width: 75%;
  justify-content: space-between;
  column-gap: 30px;
}

#intro div {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

#intro div h3 {
  font-size: 32px;
}

#intro div p {
  font-size: 24px;
  width: 90%;
  text-align: center;
}

#intro div button {
  padding: 3%;
  font-size: 20px;
  border-radius: 10px;
  background-color: #492401;
  color: #FFFFFF;
}

#homePagePic1 {
  background-image: url("../img/homepage_pic1.jpg");
}

#homePagePic2 {
  background-image: url("../img/homepage_pic2.jpg");
}

#homePagePic3 {
  background-image: url("../img/homepage_pic3.jpg");
}

#homePagePic1,
#homePagePic2,
#homePagePic3 {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Menu */
#menu {
  padding: 10px;
}

.menu-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 60px;
}

.product-card {
  width: 35vw;
  min-width: 200px;
  margin: 24px;
  position: relative;
  text-align: center;
}

.product-card img {
  width: 100%;
}

.background {
  width: 102%;
  height: 102%;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
  background-color: #D9D9D9;
  ;
}

/* The Menu Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Menu Modal Content/Box */
.modal-content {
  width: 60%;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #fefefe;
  position: relative;
}

.modal-background {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  background-color: #505050;
  position: absolute;
  z-index: -1;
}

/* The Close Button for Menu Modal */
.close {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.two-col {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.two-col img {
  width: 20vw;
}

.two-col>div {
  width: 48%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.two-col input {
  width: 40px;
}

/* Cart Section */
.cart-section {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.order-list {
  display: flex;
  column-gap: 35px;
  align-items: center;
  margin: 0 auto;
}

.order-list p {
  font-size: 28px;
  width: 150px;
}

.order-list label {
  font-size: 20px;
  color: gray;
}

.order-list select {
  width: 80px;
  height: 30px;
  font-size: 18px;
}

.order-list img {
  width: 25vh;
  height: 25vh;
  border-radius: 10%;
}

.price {
  padding-left: 100px;
}

.total {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 50px;
  margin-right: 100px;
  font-size: 28px;
}

.total p:first-child {
  margin-left: 55%;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.cart-section .button {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding-top: 50px;
}

.cart-section .button input,
.pay-section [type="submit"] {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.cart-section .button input:first-child {
  background-color: #868686;
  color: #fff;
}

.cart-section .button input:last-child,
.pay-section [type="submit"] {
  background-color: #492401;
  color: #fff;
}

/* Payment Section */
.pay-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  margin-top: 50px;
}

.pay-section form {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  margin-bottom: 50px;
}

.pay-section div {
  display: flex;
  justify-content: left;
  column-gap: 35px;
}

.pay-section label {
  width: 150px;
  font-size: 20px;
}

.pay-section form input {
  width: 250px;
}

.pay-section p {
  font-size: 20px;
}