<!-- CART SECTIOIN -->
<section class="cart-section" ng-controller="spaCtrl">

    <div class="order-list" ng-repeat="obj in cartObj">
        <img ng-src="{{obj.img}}" alt="icelatte">
        <p>{{obj.name}}</p>

        <div class="size-select">
            <label for="size">Size: </label>
            <P>{{obj.size}}</P>
        </div>
        <div class="quantity-select">
            <label for="quantity">Quantity: </label>
            <p>{{obj.quantity}}</p>
        </div>
        <p class="price">Price: {{obj.CalTotalByItem()}}</p>
    </div>

    <div class="total">
        <p>Tax: {{calTotalTax()}}</p>
        <p>Total: {{showTotal()}}</p>
    </div>

    <div class="button">
        <button class="clear" type="reset" ng-click="cartClear()">Clear</button>
        <button class="pay" type="submit" ng-click="cartPay()"><a href={{cartLink}}>Pay Now</a></button>
    </div>

</section>