<!-- CART SECTIOIN -->
<section class="cart-section" ng-controller="spaCtrl">

    <div class="order-list" ng-repeat="(idx,obj) in cartObj">
        <img ng-src="{{obj.img}}" alt="icelatte">
        <p>{{obj.name}}</p>
        <label for="size">Size: </label>
        <div class="size-select">
            <P>{{obj.size}}</P>
        </div>
        <label for="quantity">Quantity: </label>
        <div class="quantity-select"> 
            <p>{{obj.quantity}}</p>
        </div>
        <label for="price">Price:</label>
        <p class="price">{{obj.CalTotalByItem()}}</p>
        <button type="button" class="fa-solid fa-trash-can" ng-click="delCart()" id="{{idx}}"></button>
    </div>

    <div class="total">
        <p>Tax: {{calTotalTax()}}</p>
        <p>Total: {{showTotal()}}</p>
    </div>

    <div class="button">
        <button class="clear" type="reset" ng-click="cartClear()">Clear</button>
        <button class="pay" type="submit" ng-click="cartPay()"><a href={{cartLink}}>Pay Now</a></button>
    </div>

</section>