<section id="menu" ng-controller="spaCtrl">
  <div class="menu-container">

    <div class="product-card" id="1" ng-click="showItem()">
      <div>
        <img src="../img/Espresso.png" id="1">
      </div>
      <div>
        <h4>Espresso</h4>
      </div>
      <div class="background"></div>
    </div>

    <div class="product-card" id="2" ng-click="showItem()" >
      <div>
        <img src="../img/Latte.png" id="2">
      </div>
      <div>
        <h4>Latte</h4>
      </div>
      <div class="background"></div>
    </div>

    <div class="product-card" id="3" ng-click="showItem()" >
      <div>
        <img src="../img/Frappuchino.png" id="3">
      </div>
      <div>
        <h4>Latte</h4>
      </div>
      <div class="background"></div>
    </div>

    <div class="product-card" id="4" ng-click="showItem()" >
      <div>
        <img src="../img/Ice_coffe.png" id="4">
      </div>
      <div>
        <h4>Latte</h4>
      </div>
      <div class="background"></div>
    </div>

  </div>
  <!-- The Modal for menu -->
  <div id="cart-modal" class="modal" ng-show="menuPage">
    <div class="modal-content">
      <span class="close" ng-click="closeBtn()">&times;</span>
      <div class="two-col">
        <img src="./files/img/Espresso.png">
        <div>
          <h4><span>Ice Mocha </span><span>$5.99</span></h4>
          <p>Premium espresso pour over on dark chocolate ice cream.</p>
          <form>
            <label for="">Size: </label>
            <select name="" id="">
              <option value="">S</option>
              <option value="">M</option>
              <option value="">L</option>
            </select>
            <label for="">Quantity: </label>
            <input type="number" name="" id="">
          </form>
          <button type="button">Add</button>
        </div>
      </div>
      <div class="modal-background"></div>
    </div>
  </div>
</section>
