<section id="menu" ng-controller="spaCtrl">
  <div class="menu-container">
    <div ng-repeat="item in JSONObj" data-id="{{item.id}}" class="product-card" ng-click="showItem()">
      <div>
        <img data-id="{{item.id}}" ng-src={{item.img}}>
      </div>
      <div>
        <h4 data-id="{{item.id}}">{{item.name}}</h4>
      </div>
      <div class="background"></div>
    </div>

  </div>
  <!-- The Modal for menu -->
  <div id="cart-modal" class="modal" ng-show="menuPage">
    <div class="modal-content">
      <span class="close" ng-click="closeBtn()">&times;</span>
      <div class="two-col">
        <img src="{{curObj[0].img}}">
        <div>
          <h4><span>{{curObj[0].name}}</span> <span>{{curObj[0].price}}</span></h4>
          <p>{{curObj[0].description}}</p>
          <form>
            <label for="">Size: </label>
            <select name="" id="" ng-model="inpSize" ng-init="inpSize = 'S'">
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
            </select>
            <label for="">Quantity: </label>
            <input type="number" ng-model="inpQty" min="1" ng-init="inpQty = 1">
          </form>
          <p class="err" ng-show="err">Quantity value is invalid</p>
          <button type="button" ng-click="addToCart()">Add</button>
        </div>
      </div>
      <div class="modal-background"></div>
    </div>
  </div>
</section>